* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-color: #1C1C1C;
}

.first-container {
    height: 99vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: #D4D4D2 4px solid;
    width: 482px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;  
}
  

button {
    width: 105px;
    height: 105px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border: none;
}

.operator {
    background-color: #eba441;
    color: white;
}

.equal {
    background-color: #eba441;
    color: white;
}

.number {
    background-color: #505050;
    color: white;
}

#display {
    width: 500px;
    height: 100px;
    border-radius: 0px;
    border-bottom: #D4D4D2 4px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 77px;
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #1C1C1C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
    overflow: hidden;
}

.others {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.zero {
    width: 225px;
}

